.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: black;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-group a {
    color: black;
    text-decoration: none;
}

.form-group button {
    background-color: #00A651;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.black{
    color: black;
}

#signoutbutton{
    border: none;
    background-color: #171717;
    color: white;
    font-weight: 600;
}